body{
    background-color: hsl(233, 47%, 7%);

}

#background {
    background-color: hsl(244, 38%, 16%);
    height: 331px;
    width: 400px;
    float: left;
    margin-top: 130px;
    margin-left: 356px;
    border-radius:20px 0 0 20px ;
}
#image {
    
    accent-color: hsl(277, 64%, 61%);
    width: 400px;
    float: right;
    margin-top: 130px;
    display: block;
    margin-right: 300px;
    border-radius: 0 20px 20px 0;
    filter:drop-shadow(0 0 0 violet) opacity(0.4) ;
}

.title1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px black;
    text-align: center;
    margin-top: 40px;

}
.title2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px black;
    text-align: center;

}
.desc1 {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 30px;
    margin-left: 30px;
}
.desc2 {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-left: 30px;
}

.stats {
    color: white;
    font-weight: bolder;
    font-size: 27px;
    word-spacing: 80px;
    margin-left: 37px;
    margin-top: 45px;
}
.stats2 {
    color: hsla(0, 0%, 100%, 0.6) ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    word-spacing: 60px;
}